<launch>
    <arg name="map_file" value="$(find robot_local)/map/map.yaml"/>
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)" output="screen"> 
    </node>

    <arg name="laser_topic" value="my_robot/laser/scan"/>
    <node pkg="gmcl" type="gmcl" name="gmcl" args="scan:=$(arg laser_topic)" output="screen">
    <rosparam param="base_frame_id">carcaca</rosparam>
    <rosparam param="use_optimal_filter">true</rosparam>
    <rosparam param="use_intelligent_filter">true</rosparam>
    <rosparam param="use_self_adaptive">true</rosparam>
    </node>
</launch>

